{% extends '_layout.twig' %}

{# Query all categories from your 'topics' category group #}
{% set topics = craft.categories.group('topics').all() %}

{% block content %}
   
    <h1 class="text-3xl md:text-8xl">{{ siteName }}</h1>

    {% if topics | length %}
        <ul class="topics space-y-8">
            {% for topic in topics %}
                <li class="text-6xl border-2 rounded py-6 border-green-200 bg-green-200">
                    <a href="{{ topic.url }}">{{ topic.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No categories found.</p>
    {% endif %}

{% endblock %}